<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/About.css">
    <title>About Us</title>
</head>

<body>
    <div class="body">
        <div class="head">
            <h1>ABOUT US</h1>
        </div>
        <div class="description">
            <div class="ourstatement">
                <h1 style="font-size: 50px; font-weight:800">our statement</h1>
                <P style="font-size: 25px; font-weight:600">
                    Farmers are the backbone to our country, the sad thing is many do not realize this. Despite the
                    heavy efforts put into producing and cultivating various crops irrespective of weather conditions
                    they do not get sufficient returns. Therefore we took an initiative to build a platform which helps
                    the farmers to sell their crops at a satisfying price and also helps the customers to buy quality
                    crops directly from the farmer without any intermediaries.</P>
            </div>
            <div class="ouraim">
                <h1 style="font-size: 50px; font-weight:800">Our Aim</h1>
                <P style="font-size: 25px; font-weight:600">
                    Now-a-days most of the food reaching people is contaminated with chemicals. Our platform also helps
                    people to obtain fresh and non-chemical foods.
                </P>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../images/profile5.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">RAMESH</h3>
                            <h4 class="title">IIITS STUDENT</h4>
                        </div>

                    </div>
               
                
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../images/profile4.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">MANOJ</h3>
                            <h4 class="title">IIITS STUDENT</h4>
                        </div>

                    </div>
                
                
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../images/profile3.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">AKHIL</h3>
                            <h4 class="title">IIITS STUDENT</h4>
                        </div>

                    </div>
                
               
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../images/profile1.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">VENKAT SOURABH</h3>
                            <h4 class="title">IIITS STUDENT</h4>
                        </div>

                    </div>
                
                
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../images/profile2.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">BHARATH KUMAR RAJU</h3>
                            <h4 class="title">IIITS STUDENT</h4>
                        </div>
                    </div>
            </div>
                    
                
            </div>
        </div>


    </div>

</body>

</html>