<html>
  <head>
    <title>GrainHub</title>
    <link rel="stylesheet" href="../css/Status.css">
    <script src="../js/Status.js"></script>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <a href="/home"><h2 class="logo">GrainHub</h2></a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="rice_data">Rice
                <input name="rice" id="rice" placeholder="Quantity">
                <button type="button">Update</button>  
            </div> 

            <div class="wheat_data">Wheat
                <input name="wheat" id="wheat" placeholder="Quantity">
                <button type="button">Update</button>
            </div>
            
            <div class="corn_data">Corn
                <input name="corn" id="corn" placeholder="Quantity">
                <button type="button">Update</button>
            </div>
</body>


</html>